<a href="https://colab.research.google.com/github/quotation3/project/blob/master/corpus_%EB%9D%BC%EB%B2%A8%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd

In [33]:
news = pd.read_csv('/content/drive/My Drive/Colab Notebooks/news_preprocessed.csv')

In [34]:
rates = pd.read_csv('/content/drive/My Drive/Colab Notebooks/label_call_rate.csv')

In [35]:
minutes = pd.read_csv('/content/drive/My Drive/Colab Notebooks/minutes_preprocessed.csv')

In [36]:
from datetime import datetime

In [37]:
news.head()

   Unnamed: 0  ...                                              ngram
0           0  ...  ['만기/NNG', '국채/NNG', '수익률/NNG', 'fed/NNG', 'fe...
1           1  ...  ['만기/NNG', '국채/NNG', '가격/NNG', '최악/NNG', '보내/V...
2           2  ...  ['마지막/NNG', '거래일/NNG', '뉴욕/NNG', '환시/NNG', '달러...
3           3  ...  ['마지막/NNG', '날/NNG', '뉴욕/NNG', '금융시장/NNG', '한산...
4           4  ...  ['주도/NNG', '연속/NNG', '대비/NNG', '상승/NNG', '하/XS...

[5 rows x 6 columns]

In [38]:
rates.head()

         date  call_rate  rate_before30  rate_gap      label
0  2020-07-27       0.49           0.47      0.02  no_change
1  2020-07-24       0.48           0.48      0.00  no_change
2  2020-07-23       0.46           0.47     -0.01  no_change
3  2020-07-22       0.45           0.47     -0.02  no_change
4  2020-07-21       0.46           0.46      0.00  no_change

In [39]:
minutes['date'] = pd.to_datetime(minutes['date'], format = "%Y%m%d").dt.strftime('%Y-%m-%d')

In [40]:
minutes['date'] = pd.to_datetime(minutes['date'], format='%Y-%m-%d')

In [41]:
minutes.head(3)

        date  ...                                              ngram
0 2005-05-12  ...  내외/NNG,금리갭/NNG,역전/NNG,자금/NNG,해외/NNG,유출/NNG,대규모...
1 2005-06-09  ...  경제/NNG,경제/NNG,비해/VV,더/MAG,낫/VV,특별/NNG,요인/NNG,없...
2 2005-07-07  ...  들/VV,국제/NNG,유가/NNG,크/VA,오르/VV,원화/NNG,엔/NNG,화간/...

[3 rows x 15 columns]

In [42]:
news['date'] = pd.to_datetime(news['date'], format='%Y-%m-%d')

In [43]:
rates['date'] = pd.to_datetime(rates['date'], format='%Y-%m-%d')

In [44]:
df1 = pd.merge(minutes,rates, on='date', how='inner') # 의사록 데이터와 금리를 date기준으로 inner 조인
minutes_label=df1[['date','ngram','call_rate','rate_before30','rate_gap','label']]
minutes_label.head()

        date  ...      label
0 2005-05-12  ...    hawkish
1 2005-06-09  ...  no_change
2 2005-07-07  ...     dovish
3 2005-08-11  ...    hawkish
4 2005-09-08  ...  no_change

[5 rows x 6 columns]

In [45]:
df2 = pd.merge(news,rates, on='date', how='inner') # 뉴스 데이터와 금리를 date기준으로 inner 조인
news_label=df2[['date','media','title','ngram','call_rate','rate_before30','rate_gap','label']]
news_label.head()

        date   media  ... rate_gap    label
0 2005-01-01  연합인포맥스  ...     0.03  hawkish
1 2005-01-01  연합인포맥스  ...     0.03  hawkish
2 2005-01-01  연합인포맥스  ...     0.03  hawkish
3 2005-01-01  연합인포맥스  ...     0.03  hawkish
4 2005-01-01    이데일리  ...     0.03  hawkish

[5 rows x 8 columns]

In [46]:
news_label.to_csv('news_label.csv', index=False, encoding="utf-8")

In [47]:
minutes_label.to_csv('minutes_label.csv', index=False, encoding="utf-8")