<a href="https://colab.research.google.com/github/GarnetKangSB/MultiCampus_2020NLP_BOK_3/blob/master/news_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
news=pd.read_csv("news.csv")

In [ ]:
news["content"][0]

'2005년 10년만기 미국 국채수익률이  연방준비제도이사회(FRB)의 금리인상 지속에 따른 인플레이션 압력 완화로 연 5%를 넘어서기 어려울 것으로 전망됐다.    31일 씨티그룹 애널리스트들은 2005년에 미국의 인플레가 잘 제어될 것이라면서반면 내년 2년만기 국채수익률은 FRB의 지속적인 금리인상으로 연 4.00-4.50%  수준까지 상승하게 될 것이라고 예측했다.    씨티그룹은 단기 국채수익률이 상승세를 나타낼 것으로 보이는 반면 장기  국채수익률의 상승폭은 제한될 것으로 보여 수익률 곡선 평탄화가 가속화될 것이라고 덧붙였다.    씨티그룹은 내년 고용창출 호조가 가구당 수입증가를 견인할 것이라면서 고용시장 호전이 소비자지출을 떠받치게 될 것이라고 말했다'

In [ ]:
news["date"]

0         2005-01-01
1         2005-01-01
2         2005-01-01
3         2005-01-01
4         2005-01-02
             ...
261812    2019-12-31
261813    2019-12-31
261814    2019-12-31
261815    2019-12-31
261816    2019-12-31
Name: date, Length: 261817, dtype: object

In [ ]:
import pandas as pd
from ekonlpy.sentiment import MPCK

def text2ngram(text) :
    mpck = MPCK()
    tokens = mpck.tokenize(text)
    ngrams = mpck.ngramize(tokens)
                
    return tokens+ ngrams

In [ ]:
news["date"]=pd.to_datetime(news["date"])
news=news.loc[news["date"].dt.year<=2017]

In [ ]:
news

,date,media,title,content
0,2005-01-01,연합인포맥스,내년 美국채수익률 5% 넘어서기 어려울 듯,2005년 10년만기 미국 국채수익률이 연방준비제도이사회(FRB)의 금리인상 지속...
1,2005-01-01,연합인포맥스,[뉴욕채권-마감] 10년만기 국채수익률 작년보다 낮은 수준서 마쳐,2년만기 국채가격 4년래 최악의 한해 보내 10년만기 미국 국채수익률이 ...
2,2005-01-01,연합인포맥스,[뉴욕환시] `내년초 달러-엔에 주력'..달러 對엔 하락,2004년 마지막 거래일인 31일 뉴욕환시에서 미국 달러화는 개장초 102엔 근처...
3,2005-01-01,연합인포맥스,[31일 뉴욕금융시장 요약] 한산한 거래속 새해 준비,) 한해 마지막 날인 31일 뉴욕 주요 금융시장은 한산한 거래속에 새해를 준비하는 ...
4,2005-01-02,연합인포맥스,美 증시 기술주 주도로 2년 연속 상승..'01년래 최고,지난해 뉴욕증시는 기술주 주도로 2년 연속연초 대비 상승하면서 대표지수들을 지난 ...
...,...,...,...,...
258450,2017-12-31,연합뉴스,원화 '트럼프 1년'에 12.8% 절상…13년 만에 최대폭,절상률 42개국 중 5위…실질가치도 3.4% 올라 26개국 중 2위 (서울=연합뉴스...
258451,2017-12-31,연합뉴스,"1년새 주택대출금리 껑충, 5% 육박…농협은행 0.55%p↑",[연합뉴스 자료사진]1월 2일자 시중은행 최고금리 4.58∼4.85%(서울=연합뉴스...
258452,2017-12-31,연합뉴스,<뉴욕증시 주간전망> 새해 첫 거래…다시 경제지표 주목,(뉴욕=연합뉴스) 신은실 연합인포맥스 특파원 = 2018년 첫 거래주간인 이번 주(...
258453,2017-12-31,연합뉴스,1년 정기예금금리 연 2% 육박…32개월 만에 최고,11월 판매 정기예금 10개 중 4개가 금리 2%대올해 10월까지 정기예금 증가규모...
258454,2017-12-31,연합뉴스,"한은 ""글로벌 빅4 성장 양호…미 금리 3회 인상""","""미·일 잠재성장률 웃돌고 유로 2%·중국 6.5% 내외""""미 물가 향방이 통화정책..."

In [ ]:
news["media"].unique()

array(['연합인포맥스', '이데일리', '연합뉴스'], dtype=object)

In [ ]:
news["ngram"]=news["content"].apply(text2ngram)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
news.to_csv("./minutes/news_preprocessed.csv")

In [ ]:
pd.read_csv("./minutes/news_preprocessed.csv")

,Unnamed: 0,date,media,title,content,ngram
0,0,2005-01-01,연합인포맥스,내년 美국채수익률 5% 넘어서기 어려울 듯,2005년 10년만기 미국 국채수익률이 연방준비제도이사회(FRB)의 금리인상 지속...,"['만기/NNG', '국채/NNG', '수익률/NNG', 'fed/NNG', 'fe..."
1,1,2005-01-01,연합인포맥스,[뉴욕채권-마감] 10년만기 국채수익률 작년보다 낮은 수준서 마쳐,2년만기 국채가격 4년래 최악의 한해 보내 10년만기 미국 국채수익률이 ...,"['만기/NNG', '국채/NNG', '가격/NNG', '최악/NNG', '보내/V..."
2,2,2005-01-01,연합인포맥스,[뉴욕환시] `내년초 달러-엔에 주력'..달러 對엔 하락,2004년 마지막 거래일인 31일 뉴욕환시에서 미국 달러화는 개장초 102엔 근처...,"['마지막/NNG', '거래일/NNG', '뉴욕/NNG', '환시/NNG', '달러..."
3,3,2005-01-01,연합인포맥스,[31일 뉴욕금융시장 요약] 한산한 거래속 새해 준비,) 한해 마지막 날인 31일 뉴욕 주요 금융시장은 한산한 거래속에 새해를 준비하는 ...,"['마지막/NNG', '날/NNG', '뉴욕/NNG', '금융시장/NNG', '한산..."
4,4,2005-01-02,연합인포맥스,美 증시 기술주 주도로 2년 연속 상승..'01년래 최고,지난해 뉴욕증시는 기술주 주도로 2년 연속연초 대비 상승하면서 대표지수들을 지난 ...,"['주도/NNG', '연속/NNG', '대비/NNG', '상승/NNG', '하/XS..."
...,...,...,...,...,...,...
253022,258450,2017-12-31,연합뉴스,원화 '트럼프 1년'에 12.8% 절상…13년 만에 최대폭,절상률 42개국 중 5위…실질가치도 3.4% 올라 26개국 중 2위 (서울=연합뉴스...,"['절상/NNG', '중/NNG', '실질가치/NNG', '오르/VV', '중/NN..."
253023,258451,2017-12-31,연합뉴스,"1년새 주택대출금리 껑충, 5% 육박…농협은행 0.55%p↑",[연합뉴스 자료사진]1월 2일자 시중은행 최고금리 4.58∼4.85%(서울=연합뉴스...,"['자료/NNG', '일자/NNG', '최고/NNG', '금리/NNG', '박의/N..."
253024,258452,2017-12-31,연합뉴스,<뉴욕증시 주간전망> 새해 첫 거래…다시 경제지표 주목,(뉴욕=연합뉴스) 신은실 연합인포맥스 특파원 = 2018년 첫 거래주간인 이번 주(...,"['뉴욕/NNG', '은실/NNG', '특파원/NNG', '거래/NNG', '주/N..."
253025,258453,2017-12-31,연합뉴스,1년 정기예금금리 연 2% 육박…32개월 만에 최고,11월 판매 정기예금 10개 중 4개가 금리 2%대올해 10월까지 정기예금 증가규모...,"['판매/NNG', '정기/NNG', '예금/NNG', '중/NNG', '금리/NN..."
253026,258454,2017-12-31,연합뉴스,"한은 ""글로벌 빅4 성장 양호…미 금리 3회 인상""","""미·일 잠재성장률 웃돌고 유로 2%·중국 6.5% 내외""""미 물가 향방이 통화정책...","['미/NNG', '잠재성/NNG', '장률/NNG', '웃돌/VV', '유로/NN..."