In [1]:
import pandas as pd

In [2]:
a = pd.read_csv('C:/Users/Inyong Kim/Desktop/profile/sipdae.csv', encoding='utf-8')
b = pd.read_csv('C:/Users/Inyong Kim/Desktop/profile/sipdae_nam.csv', encoding='utf-8')
c = pd.read_csv('C:/Users/Inyong Kim/Desktop/profile/sipdae_yeo.csv', encoding='utf-8')
d = pd.read_csv('C:/Users/Inyong Kim/Desktop/profile/isipdae.csv', encoding='utf-8')
e = pd.read_csv('C:/Users/Inyong Kim/Desktop/profile/isipdae_nam.csv', encoding='utf-8')
f = pd.read_csv('C:/Users/Inyong Kim/Desktop/profile/isipdae_yeo.csv', encoding='utf-8')
g = pd.read_csv('C:/Users/Inyong Kim/Desktop/profile/samsipdae.csv', encoding='utf-8')
h = pd.read_csv('C:/Users/Inyong Kim/Desktop/profile/sasipdae.csv', encoding='utf-8')

In [3]:
profile = pd.concat([a,b,c,d,e,f,g,h], ignore_index=True)

In [4]:
profile2 = profile.drop_duplicates('insta_id', keep='first')

In [5]:
profile2

,inner_id,insta_id,profile,age,tema_idx,gender
0,188070176,hahajuhye,NaN,10대,1,NaN
1,209562366,hijerion,두 공주와 함께하는 일상💕\n-\n-\n앙금플라워/퓨전떡수업도 해요😊 (카톡 hij...,10대,1,NaN
2,36964774010,spacewaveart,💫 SPACEWAVE\n🇰🇷 Kids art class based in Seoul\...,10대,1,NaN
3,22365811905,star_kim.gyumin1,.\n2013년생 /8세\n 🔸️120cm/ 20.5kg\n.\n#키즈모델#주니어...,10대,1,NaN
4,9002748731,semos_log,NaN,10대,1,NaN
...,...,...,...,...,...,...
19976,4424321637,gumom0311,세상을 경험하고 많을것을 느끼며\n삶의지혜를 배워가는중💕\n딸.남편 그리고 마흔하나...,40대,1,NaN
19977,1399612633,yoon_50gram,Let faith never betray life... Love is more\nI...,40대,1,NaN
19978,8185193445,sunyi_day,일상이 행복이 되는 엄마의 공간🍋\n시끄러운 행복 주의 🏡,40대,1,NaN
19979,6192830023,kim.ji_seon,NaN,40대,1,NaN
19980,2167299061,violetkang,NaN,40대,1,NaN

In [7]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-0.10.1-py2.py3-none-any.whl (47 kB)
Installing collected packages: pymysql
Successfully installed pymysql-0.10.1
Note: you may need to restart the kernel to use updated packages.

In [8]:
# Python2DB class
import pymysql


class Python2DB():
    def __init__(self):
        self.WL_DB = pymysql.connect(host='220.90.200.176',
                                     port=3306,
                                     user='multi',
                                     passwd='multi!)@(',
                                     db = 'SocialAnalysis',
                                     charset='utf8')
        self.cursor = self.WL_DB.cursor()
        
    def select(self, table, column):
        sql_qr = """
            SELECT {0} FROM {1}
        """.format(column, table)
        self.cursor.execute(sql_qr)
        return self.cursor.fetchall()

    def insert(self, table, columns, values):
        sql_qr2 = """
            INSERT IGNORE INTO {0}({1})
            VALUES ({2})
        """.format(table, columns, values)
        self.cursor.execute(sql_qr2)
        self.WL_DB.commit()

    def update(self, table, set_content, where_content):
        sql_qr3 = """
            UPDATE {0}
            SET {1}
            WHERE {2}
        """.format(table, set_content, where_content)
        self.cursor.execute(sql_qr3)
        self.WL_DB.commit()

    def delete(self, table, where_content):
        sql_qr4 = """
            DELETE FROM {0} WHERE {1}
        """.format(table, where_content)
        self.cursor.execute(sql_qr4)
        self.WL_DB.commit()

In [ ]:
import re

db_class = Python2DB()  # 클래스 객체 선언
post_data_list = []  # 데이터 확인을 위한 리스트 선언
EMOJI = re.compile('[\U00010000-\U0010ffff]', flags=re.UNICODE)  # 이모티콘 제거를 위한 EMOJI 변수

for i in range(len(profile2)):  # 데이터프레임의 크기만큼 돌게 설정
    
    inner_id = str(profile2['inner_id'][i])
    insta_id = profile2['insta_id'][i]
    
    if(str(profile2['profile'][i]) != 'nan'):  # 이모티콘 제거 및 전처리 후 1000자까지만 저장
        profile = EMOJI.sub(r'', profile2['profile'][i]).replace(',', '  ').replace('"', '').replace("'", "")
    else:
        profile = ''
    
    if(str(profile2['age'][i]) != 'nan'):
        age = profile2['age'][i]
    else:
        age = ''
    
    if(str(profile2['gender'][i]) != 'nan'):
        gender = profile2['gender'][i]
    else:
        gender = ''
    
    team_idx = 1
    
    post_data_list.append(
        {"inner_id": inner_id,
         "insta_id": insta_id,
         "profile": profile,
         "age": age,
         "gender": gender,
         "team_idx": team_idx
        })
    try:
        db_class.insert('INSTA_PROFILE', 'inner_id, insta_id, profile, age, gender, team_idx',
               '"{}", "{}", "{}", "{}", "{}", {}'.format(inner_id, insta_id, profile, age, gender, team_idx))
    except:
        print("error = " +  '"{}", "{}", "{}", "{}", "{}", {}'.format(inner_id, insta_id, profile, age, gender, team_idx))
        pass

In [ ]:
import re

db_class = Python2DB()  # 클래스 객체 선언
post_data_list = []  # 데이터 확인을 위한 리스트 선언
EMOJI = re.compile('[\U00010000-\U0010ffff]', flags=re.UNICODE)  # 이모티콘 제거를 위한 EMOJI 변수

for i in range(len(profile2)):  # 데이터프레임의 크기만큼 돌게 설정
    
    inner_id = str(profile2['inner_id'][i])
    insta_id = profile2['insta_id'][i]
    
    if(str(profile2['profile'][i]) != 'nan'):  # 이모티콘 제거 및 전처리 후 1000자까지만 저장
        profile = EMOJI.sub(r'', profile2['profile'][i]).replace(',', '  ').replace('"', '').replace("'", "")
    else:
        profile = ''
    
    if(str(profile2['age'][i]) != 'nan'):
        age = profile2['age'][i]
    else:
        age = ''
    
    if(str(profile2['gender'][i]) != 'nan'):
        gender = profile2['gender'][i]
    else:
        gender = ''
    
    team_idx = 1
    
    post_data_list.append(
        {"inner_id": inner_id,
         "insta_id": insta_id,
         "profile": profile,
         "age": age,
         "gender": gender,
         "team_idx": team_idx
        })
    try:
        db_class.update('INSTA_PROFILE', "insta_id = '" + insta_id + "', profile = '" + profile + 
                        "', age = '" + age + "', gender = '" + gender + "'", "inner_id = '" + inner_id + "'")
    except:
        print("error = " +  '"{}", "{}", "{}", "{}", "{}", {}'.format(inner_id, insta_id, profile, age, gender, team_idx))
        pass