In [2]:
import pandas as pd
import json
import numpy as np

In [5]:
news_df = pd.read_json('C:/Users/user/Desktop/news_df.json')
topic_df = pd.read_json('C:/Users/user/Desktop/3_topic.json')

In [17]:
def news_count(topic_df, news_df):
    
    # 토픽 3개 다 들어가있는 기사에 1 라벨링하기
    cnt_lis = []
    for a,b,c in topic_df['topic']:
        tmp = []
        for text in news_df['text']:
            if a in text and b in text and c in text:
                tmp.append(1)
            else:
                tmp.append(0)
        cnt_lis.append(tmp)
    
    # 기사 별로 라벨링된 리스트 news_df에 붙이기
    topic_count = pd.DataFrame(np.array(cnt_lis).T, columns=['topic'+str(n+1) for n in range(len(topic_df))])
    total = pd.concat([news,topic_count], axis=1)
    
    # 날짜별로 그룹묶어서 count
    cnt_by_date = []
    for i in range(3):
        cnt_by_date.append(total['topic{}'.format(i+1)].groupby(total['date']).sum())
    
    df = pd.DataFrame(cnt_by_date)
    count_df = df.transpose()
    
    return count_df

In [18]:
news_count(topic_df, news_df)

            topic1  topic2  topic3
date
2005-01-01       0       0       0
2005-01-02       0       0       0